A1

In [19]:
n= 10
r=5
p=100
A= p*(1+r/100)**n
A

162.8894626777442

A2 - d (Capital 'B,A' needs to be used)

In [28]:
A=10
B=20
Str="There are {} students in the class, with {} who play atleast one sport".format(B,A)
Str

'There are 20 students in the class, with 10 who play atleast one sport'

A3 - b

In [35]:
 print("It goes without saying, \"Time is Money\", and none can deny it.")

It goes without saying, "Time is Money", and none can deny it.

A4 - b

In [37]:
x = lambda a,b: a//b
x(10,3)

3

A5 - C

In [39]:
A = 10
B = 12
print("Smaller") if A == B else print("Greater") if A < B else print("True")

Greater

A6 - C

In [42]:
import os
import numpy as np
my_list1 = [2,7,3,5,4,6]
print(my_list1)
arr_1=numpy.array(my_list1, dtype=int)
print(arr_1)

[2, 7, 3, 5, 4, 6]

NameError: ignored

A7 - D

In [49]:
string = "Machine Learning"
string[slice(8,13,1)]

'Learn'

A8 - b

In [68]:
list = []
for x in range(10,25,4):
  list.append(x)
list
list.index(18)

2

A9 - A

In [69]:
num1=5**4
num2=pow(5,4)
print(num1,num2)

625 625

A10 - A. **Trying to access a variable which has not been defined** (In Python, the NameError occurs when you try to use a variable, function, or module that doesn't exist or wasn't used in a valid way. )

A11 - C (ValueError)

In [72]:
x = "string"
int(x)

ValueError: ignored

A12 - B. A file or directory is requested but does not exist in the working directory

A13 - String ( A string is a collection of one or more characters put in a single quote, double-quote or triple quote. In python there is no character data type, a character is a string of length one. It is represented by str class.)

In [76]:
Z = "ID-5632"
type(Z)

str

A14 - D ( A string is a collection of one or more characters put in a single quote, double-quote or triple quote. In python there is no character data type, a character is a string of length one. It is represented by str class.)

A15 - a,c,d

A16 -

In [78]:
Country = {'India':'delhi', 'China':'Beijing', 'Japan':'Tokyo', 'Qatar':'Doha', 'France':'Marseilles'}
Country

{'India': 'delhi',
 'China': 'Beijing',
 'Japan': 'Tokyo',
 'Qatar': 'Doha',
 'France': 'Marseilles'}

In [79]:
#Method 1
updict = {'France':'Paris'}
  
res = {key: updict.get(key, Country[key]) for key in Country}

In [80]:
res

{'India': 'delhi',
 'China': 'Beijing',
 'Japan': 'Tokyo',
 'Qatar': 'Doha',
 'France': 'Paris'}

In [81]:
#Method 2:
# Python3 code to demonstrate working of 
# Replace dictionary value from other dictionary
# Using loop
  
# initializing dictionary
Country = {'India':'delhi', 'China':'Beijing', 'Japan':'Tokyo', 'Qatar':'Doha', 'France':'Marseilles'}
  
# printing original dictionary
print("The original dictionary is : " + str(Country))
  
# initializing updict
updict = {'France':'Paris'}
  
for sub in Country:
      
    # checking if key present in other dictionary
    if sub in updict:
        Country[sub]  = updict[sub]
  
# printing result 
print("The updated dictionary: " + str(Country))

The original dictionary is : {'India': 'delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Marseilles'}
The updated dictionary: {'India': 'delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Paris'}

A17 - D

In [83]:
tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)

A18 - 6

In [90]:
s = {1,2,3,4,4,4,5,6}
len(s)

6

A19

In [96]:
N=20
for x in range(1,N): 
    for y in range(x+1,N): 
        z = y + 1
        while z * z < x * x + y * y: 
            z = z + 1
        
        if z * z == x * x + y * y and z <= N:
            print(x, y, z)

3 4 5
5 12 13
6 8 10
8 15 17
9 12 15
12 16 20